@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1{
    font-family: 'Raleway', serif;
    font-size: 1.8rem;
    font-weight: 300;
}
h2{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.6rem;
    font-weight: 200;   
}
h3{
    font-family: 'Raleway', serif;
    font-size: 1.5rem;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    word-spacing: 2px;
    text-align: justify;
    line-height: 2rem;
}
a{
    font-family: 'Raleway', serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    color: #3e3d3d;
}
.hl{
    height: 1px;
    background: #3e3d3d;
}
.hl_position1{
    width: 400px;
    transform: translate(-100px,0);
}
/*----- Header ----*/
header{
    width:100%;
    height: 100vh;
    background: url(/images/papers.co-at43-apple-mac-white-logo-minimal-art-illustration-32-wallpaper\ \(1\).jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.navbar{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    color: #3e3d3d;
    border: solid, 1px gray;
}
.navigator{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.little_me{
    margin: 40px 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo{
    width: 70%;
    filter: grayscale(100%);
    border-radius: 50%;
    position: relative;
    left: 200px;
    z-index: 2;
    transform: translateX(-200px);
}
.info_wrapper{
    width: 30%;
    height: 60vh;
    text-align: center;
    justify-content: center;
}
.icons{
    color: #cb997e;
    margin-right: 30px;
}
.more_info{
    width: 400px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
.info_unit{
    width: 300px;
    margin: 8px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s all ease-in-out;
}
.info_unit a:hover{
    transform: scale(1.1);
}

/* --- Form ---*/
.email_wrapper{
    width: 50%;
    height: 60vh;
    margin: 0 30px;
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.5);
}
.email_title h3{
    background-color: #fec5bb;
    width: 60%;
    margin: 0 auto;
    font-family: 'Raleway', serif;
    font-size: 1.8rem;
    text-align: center;
    padding: 5px;
    color: #3e3d3d;
    font-weight: 300;
    border-radius: 10px;
    transform: translateY(-20px);
}
.form_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    text-align: center;
}
.form_control{
    width: 80%;
    margin: 15px;
    padding: 10px;
    border: 1px solid ;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #fec5bb, #d8e2dc);
}

.send-button {
    margin-top: 15px;
    height: 35px;
    width: 300px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    background: linear-gradient(90deg, #fec5bb, #d8e2dc);
    border: none;
    border-radius: 20px;
  }
  .send-button:hover{
    background: linear-gradient(90deg, #ffb4a2, #e5989b);
  }
  .send-button:active{
      transform: scale(1.1);
  }
  
  .alt-send-button {
    width: 300px;
    height: 34px;
    transition: all .3s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 500 15px 'Raleway', serif;
    letter-spacing: 2px;
    color: white;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  @media screen and (max-width: 600px) {
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.3rem;
    }
    h4{
        font-size: 1.0rem;
    }
    header{
        height: 110vh;
    }
    .navbar{
        height:30vh;
    }
    .navigator{
        width: 30%;
        margin-top: 20px;
    }
    .little_me{
        margin: 30px auto;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .photo{
        width: 40%;
    }
    .text_wrapper{
        width: 80%;
        transform: translateX(100px);
    }
    .hl,
    .hl1{
        display: none;
    }
    .info_wrapper{
        width: 90%;
        margin: 0 auto;
    }  
    .email_wrapper{
        margin: 50px 0;
        width: 90%;
        height:90vh;
        border: solid 1px pink;
    }
  }
  

