@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1{
    font-family: 'Raleway', serif;
    font-size: 1.8rem;
    font-weight: 300;
}
h2{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.6rem;
    font-weight: 200;   
}
h3{
    font-family: 'Raleway', serif;
    font-size: 1.5rem;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    word-spacing: 2px;
    text-align: justify;
    line-height: 2rem;
}
a{
    font-family: 'Raleway', serif;
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: none;
    color: #3e3d3d;
}
/*----- Header ----*/
header{
    width:100%;
    height: 80vh;
    background: url(images/background.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}
/*--- horizontal lines --*/
.hl{
    height: 1px;
    background: #3e3d3d;
}
.hl_position1{
    width: 300px;
    transform: translate(-100px,0);
}
.hl_position2{
    width: 750px;
    transform: translate(50px, 0);
}
.hl1{
    margin-top: 10px;
    height: 1px;
    background: hsla(0, 1%, 24%, 0.3);
}
.hl_position3{
    width:40%;
    margin: -20px auto;
}
.hl_position4{
    width: 40%;
    position: relative;
    margin: 30px auto;
    background: hsla(0, 1%, 24%, 0.3);
}
/* --- Navigation bar ---*/
.navbar{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    color: #3e3d3d;
    border: solid, 1px gray;
}
.navigator{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 20%;
}
/* --- personal fatures --*/
.little_me{
    margin: 40px 0;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.photo{
    width: 20%;
    filter: grayscale(100%);
    border-radius: 50%;
    position: relative;
    left: 200px;
    z-index: 2;
    transform: translateX(-200px);
}
.text_wrapper{
    width: 40%;
    display: flex;
    flex-direction: column;
}


/* ----- Social media -----*/
.social_media{
    width: 20%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_icons{
    color: gray;
}
.social_icons:hover{
    color: #f1b900;
    transform: scale(1.2);
}
/*----- Portifolio gallery --*/
.portfolio_unit{
    width: 85%;
    margin: 0px auto 80px auto;
    display: flex;
    flex-direction: column;
}
.title h3{
    width: 18%;
    font-size: 1.6rem;
    padding: 5px;
    color: #3e3d3d;
    text-align: left;
}
.highlight{
    height: 30px;
    background: linear-gradient(180deg, transparent 60%, #fec89a 40%);
}
.highlight1{
    height: 30px;
    background: linear-gradient(180deg, transparent 60%, #ffd000 40%);
}
.image_wrapper{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.unit1{
    width: 30%;
}
.unit2{
    width: 90%;
}
.skills{
    height: 20vh;
    width: 50%;
    margin: 0 auto;
}
.skills h3{
    font-family: 'Raleway', serif;
    text-align: center;
    font-size: 1.4rem;
}
.icon_wrapper{
    margin: 80px 0;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width:600px) {
    h1{
        font-size: 1.3rem;
    }
    h2{
        font-size: 1.3rem;
    }
    h4{
        font-size: 1.0rem;
    }
    header{
        height: 110vh;
    }
    .navbar{
        height:30vh;
    }
    .navigator{
        text-align: center;
        width: 30%;
        margin-top: 20px;
    }
    .little_me{
        flex-direction: column;
        width: 90%;
    }
    .photo{
        width: 40%;
    }
    .text_wrapper{
        width: 80%;
        transform: translateX(50px);
    }
    .hl,
    .hl1{
        display: none;
    }
    .social_media{
        width: 50%;
    }
    .image_wrapper{
        width: 95%;
        flex-direction: column;
        align-items: center;
    }
    .unit1{
        width: 80%;
        margin: 15px 0;
    }
    .title h3,
    .skills h3{
        width: 80%;
    }
    .icon_wrapper{
        width: 90%;
    }
    .skills{
        width: 90%;
        
    }
}
